
body{
    margin: 0;
    background: url("https://static.vecteezy.com/system/resources/previews/000/097/064/non_2x/child-hand-print-vectors.jpg");
    background-repeat: no-repeat;
    background-size:100%;
    overflow-x: hidden;
}

.centrallogin{
    background-color: #8B8989;
    border-radius:10px;
    width: 700px;
    height: 400px;
    margin: 70px auto 0px;
    opacity: 0.90;
}

.interno{
    background-color: #CDC9C9;
    width: 680px;
    height: 375px;
    position: absolute;
    margin: 10px;
    border-radius:10px;

}
section{
    position:absolute;
    transform: translateX(100%);
    transition: .5s;
    width: 100%;
}
section.ativa{
    transform: translateX(0);
}

p{
    margin: 5;
    padding-top: 10px;
    color: white;
    font-size: 30px;
}
.login{
    background-color:#8B8989;
    height: 70px;
    text-align: center;
}

.input-div{
    margin:40px;
    padding-left: 5px;
}

.input-div input{
    width: 600px;
    height: 20px;
}

.botao{
    padding:10px;
    text-align: end;
}

.lembrarsenha{
    padding: 10px;    
    text-align: end;
}

.footer {
    min-height:100%;
    position:relative;
    padding:0px;
    background-color: rgb(145, 138, 138);
    bottom:0;
    width:100%;
}
#resposta{
    padding-left: 10px;
}
.imagem{
    
    margin: 0;
    height: 100%;
    background-color: black;
}

.imagem img{
    transition: 1s;
    padding-left: 490px;
    padding-top: 100px;
    display: flex;
    justify-content: center;    
}

